<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puddles-puddle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>puddles-puddle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{60,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>puddles-puddle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puddles.png</string>
            <key>size</key>
            <string>{120,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef594790007d075bdee53eb277d2760:b67b813d6bd2f2c1da17bf20bcaef9a4:9e980e8e2f38e4375c9bab87349db823$</string>
            <key>textureFileName</key>
            <string>puddles.png</string>
        </dict>
    </dict>
</plist>
